<!-- display the project overview -->
<div class="container" ng-controller="SidebarCtrl"
     ng-show="getActiveProject().id">

    <div class="row">

        <!-- SIDE BAR -->
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar" ng-repeat="option in sidebarOptions">
                <li ng-click="selectOption(option)"
                    ng-class="getOptionClass(option)">
                    <a ng-href="{{ option.url }}">{{ option.name }}</a>
                </li>
            </ul>
        </div>

        <!-- PROJECT INFO -->
        <div class="col-sm-7">
            <dl class="dl-horizontal">
                <dt>ID</dt>
                <dd>{{activeProject.id}}</dd>

                <dt>Project</dt>
                <dd>{{activeProject.name}}</dd>

                <dt>Author</dt>
                <dd>{{activeProject.author}}</dd>

                <dt>Description</dt>
                <dd>{{activeProject.description}}</dd>

                <!-- create or load a webservice graph gui project -->
                <dt>Options</dt>
                <dd>
                    <div class="btn-group" role="group" aria-label="...">
                        <a ng-href="#graph" class="btn btn-default">
                            New &nbsp;
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                        <button type="button" class="btn btn-default">
                            Load &nbsp;
                            <i class="fa fa-file" aria-hidden="true"></i>
                        </button>
                    </div>
                </dd>

                <hr/>
            </dl>
            <hr/>

            <div ng-transclude=""></div>
        </div>
    </div>
</div>

<!-- show error if theere are no project selected -->
<div class="container" ng-controller="SidebarCtrl"
     ng-hide="getActiveProject().id">

    <div class="alert alert-danger col-sm-6" role="alert">
        <p>There is nothing to see here. Please select a project first!</p>
    </div>
</div>

