<div class="" ng-controller="InfoSummaryCtrl">

    <!-- Display an error message if the user haven't select a project yet -->
    <div class="container alert alert-danger col-sm-offset-3 col-sm-6 text-center"
         ng-hide="getActiveProject().id" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"
              aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        No project selected. In order to view a graph, you need to select or
        create
        a project!
    </div>

    <div ng-show="getActiveProject().id">
        <div class="container lead well">
            <dl class="dl-horizontal">
                <dt>ID:</dt>
                <dd>{{activeProject.id}}</dd>

                <dt>Project Name:</dt>
                <dd>{{activeProject.name}}</dd>

                <dt>Options:</dt>
                <dd>
                    <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-default hvr-overline-from-center"
                           ng-href="#project">
                            Back &nbsp;
                            <i class="fa fa-arrow-left fa-2x"
                               aria-hidden="true"></i>
                        </a>
                        <button ng-click="resetGraph()" type="button"
                                class="btn btn-default hvr-overline-from-center">
                            Reset &nbsp;
                            <i class="fa fa-eraser fa-2x"
                               aria-hidden="true"></i>
                        </button>
                        <button ng-click="saveGraph()" type="button"
                                class="btn btn-default hvr-overline-from-center">
                            Save &nbsp;
                            <i class="fa fa-floppy-o fa-2x"
                               aria-hidden="true"></i>
                        </button>

                        <button ng-click="loadGraph()" type="button"
                                class="btn btn-default hvr-overline-from-center">
                            Load &nbsp;
                            <i class="fa fa-refresh fa-2x"
                               aria-hidden="true"></i>
                        </button>
                        <run-button run="Run Webservice"
                                    stop="Stop Webservice"></run-button>
                    </div>
                </dd>
            </dl>
        </div>
        <div id="paper" ng-show="getActiveProject().id"></div>
    </div>
</div>


<script>
    /**
     * MAIN_GRAPH is an empty Graph object instantiated from the
     * joint_setup.js file
     *
     * When the user loads up a graph, they are reassigning MAIN_GRAPH to whatever
     * graph the user has. It would look like this: MAIN_GRAPH = joeProject.graph
     *
     * The view will update base on whatever the graph is
     *
     * Paper is the container for the view, the window to the view.
     */
    var paper = new joint.dia.Paper({
        el: $('#paper'),
        width: 1200,
        height: 600,
        gridSize: 1,
        model: MAIN_GRAPH,
        perpendicularLinks: true,
        restrictTranslate: true
    });
</script>